<fieldset class="no-border-bottom">
<legend>Vana Order Config</legend>
	<p><%= @order.vana_product_config %></p>
</fieldset>
<fieldset class="no-border-bottom">
<legend>Vana Payment Info</legend>
	<p><%= @order.vana_payment_info %></p>
</fieldset>